.about-content {
    padding: spacer(2) spacer(2);
    width: 100%;
    height: calc(100vh - (#{$content-size} - 1.5rem));
    overflow: scroll;

    p {
        max-width: 32em;
        
        @include media($mobile) {
            width: 100%;
        }
    }
}