.map-nav {
    overflow: auto;
    border-bottom: 1px solid $border-color;
    
    &-control {
        @include span-columns(4);
        min-height: 2.5rem;

        a:not(.is-hidden) {
            display: inline-block;
            padding: .75em;
            cursor: pointer;
        }
        
        .stop-counter {
            padding: .75em;
        }
        
        &:last-child {
           text-align: right; 
        }

        &:nth-child(2) {
           text-align: center; 
        }
    }
    
    .stop {
        @include media($mobile) {
            display: block;
        }
    }
    
    .icon {
        @include media($mobile) {
            display: block;
        }
    }
}

.icon {
    position: relative;
    top: .125em;
    width: 1em;
    height: 1em;
    fill: currentColor;
}