body {
    overflow: hidden;
}

.page-wrap {
    position: relative;
}

main {
    height: calc(100vh - #{$content-size});
    flex: 1 0 auto; 
    
    @include media($mobile) {
        height: calc(100vh - #{$content-size-mobile});
    }
}

.main-content {
    display: flex;
}

.about-content {}

header {    
    padding: spacer(1) spacer(1);
    background-color: $sky-blue;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;

    
    h1 {
        margin-bottom: 0;
        font-size: 2.5em;
        line-height: 1;

        @include media($mobile) {
            display: inline-block;
            font-size: 1.25em;
            line-height: 1;
            position: relative;
            top: .75em; 
        } 
    }
    
    &.banner-mountain {
        background-image: url('../images/banner-mountain.svg');
    }

    &.banner-city {
        background-color: $night-blue;
        background-image: url('../images/banner-city.svg');
        
        h1 {
            color: $warning;
        }
    }
    
    &.banner-camping {
        background-image: url('../images/banner-camping.svg');
    }
}

.app-header {
    height: 5em;

    @include media($mobile) {
        height: auto;
        padding: 0 spacer(.5) spacer(.5); 
    }
}

footer {
    position: relative;
    z-index: 999;
    border-top: 1px solid $border-color;
    background-color: white;
}

.footer-col {
    @include span-columns(6);
    @include omega(2n);
    
    &:last-child {
        text-align: right;
    }
}